.App {
  width: 930px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdf-container {
  width: 800px; /* Fixed width */
  height: 600px; /* Fixed height */
  overflow: auto; /* Enable scrollbars */
  border: 1px solid black;
}

canvas {
  border: 1px solid black;
  margin-top: 10px;
}

button {
  margin: 5px;
}